  {% extends "layout.html" %}

  {% block body %}
  <h>
    Muokkaa asiakkaan tietoja
  </h>
  <form method="POST" action="{{ url_for('asiakkaat_update_tiedot', asiakas_id=asiakas_id) }}">
    <table>
      <tr>
	    <td>
	      {{ form.etunimi.label }}
	    </td>
	    <td>
	      {{ form.etunimi }}
	    </td>
	    <td>
	      <ul>
	        {% for error in form.etunimi.errors %}
	        <li>{{ error }}</li>
	        {% endfor %}
	      </ul>
	    </td>
      </tr>
      <tr>
	    <td>
	      {{ form.sukunimi.label }}
	    </td>
	    <td>
	      {{ form.sukunimi }}
	    </td>
	    <td>
	      <ul>
	        {% for error in form.sukunimi.errors %}
	        <li>{{ error }}</li>
	        {% endfor %}
	      </ul>
	    </td>
      </tr>
      <tr>
	    <td>
	      {{ form.puhelinnumero.label }}
	    </td>
	    <td>
	      {{ form.puhelinnumero }}
	    </td>
	    <td>
	      <ul>
	        {% for error in form.puhelinnumero.errors %}
	        <li>{{ error }}</li>
	        {% endfor %}
	      </ul>
	    </td>
      </tr>
      <tr>
	    <td>
	      {{ form.email.label }}
	    </td>
	    <td>
	      {{ form.email }}
	    </td>
	    <td>
	      <ul>
	        {% for error in form.email.errors %}
	        <li>{{ error }}</li>
	        {% endfor %}
	      </ul>
	    </td>
      </tr>
      <tr>
	    <td colspan="3">
	      <input type="submit" value="Päivitä asiakkaan tiedot"/>
	    </td>
      </tr>
  </form>
  {% endblock %}
