venv
application.asiakkaat.db
application/__pycache__
application/asiakkaat.db
application/asiakkaat/__pycache__
application/auth/__pycache__
application/huoneet/__pycache__
application/varaukset/__pycache__
a
