  {% extends "layout.html" %}

  {% block body %}
  <form method="POST" action="{{ url_for('huoneet_create') }}">
    <table>
      <tr>
	    <td>
	      {{ form.huonenumero.label }}
	    </td>
	    <td>
	      {{ form.huonenumero }}
	    </td>
	    <td>
	      <ul>
	        {% for error in form.huonenumero.errors %}
	        <li>{{ error }}</li>
	        {% endfor %}
	      </ul>
	    </td>
      </tr>
      <tr>
	    <td>
	      {{ form.hinta.label }}
	    </td>
	    <td>
	      {{ form.hinta }}
	    </td>
	    <td>
	      <ul>
	        {% for error in form.hinta.errors %}
	        <li>{{ error }}</li>
	        {% endfor %}
	      </ul>
	    </td>
      </tr>
      <tr>
	    <td>
	      {{ form.tyyppi.label }}
	    </td>
	    <td>
	      {{ form.tyyppi }}
	    </td>
	    <td>
	      <ul>
	        {% for error in form.tyyppi.errors %}
	        <li>{{ error }}</li>
	        {% endfor %}
	      </ul>
	    </td>
      </tr>
      <tr>
	    <td colspan="3">
	      <input type="submit" value="Lisää uusi huone"/>
	    </td>
      </tr>
  </form>
  {% endblock %}
